<nav class="navbar navbar-expand-sm navbar-dark px-3">
    <a class="navbar-brand" href="#">dribble</a>
    <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
       

            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page">Inspiration 
                    <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Find work <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Learn Design <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Go Pro <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Hire Designers <span class="visually-hidden">(current)</span></a
                >
            </li>
          
          
        </ul>
       <ul class="navbar-nav">
        <form class="d-flex my-2 my-lg-0">
            <input
                class="form-control me-sm-2"
                type="text"
                placeholder="Search"
            />
        
        </form>
        <li class="nav-item">
            <a href="" class="nav-link">icon</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">profile</a>
        </li>
        <div class="btn btn-primary">upload</div>
       </ul>
    </div>
</nav>

<div class="container text-center py-5">
    <h1 class="mb-4">Please verify your email...</h1>
    <img src="../../assets/email.png" alt="" srcset="" height="100px" width="100px" class="email-image mb-4">
    <p>Please verify your email address. We've sent a confirmation email to</p>
    <p class="email">{{userEmail}}</p>
</div>
