<nav class="navbar navbar-expand-sm navbar-dark px-3">
    <a class="navbar-brand" href="#">dribble</a>
    <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
       

            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page">Inspiration 
                    <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Find work <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Learn Design <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Go Pro <span class="visually-hidden">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" aria-current="page"
                    >Hire Designers <span class="visually-hidden">(current)</span></a
                >
            </li>
          
          
        </ul>
       <ul class="navbar-nav">
        <form class="d-flex my-2 my-lg-0">
            <input
                class="form-control me-sm-2"
                type="text"
                placeholder="Search"
            />
        
        </form>
        <li class="nav-item">
            <a href="" class="nav-link">icon</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">profile</a>
        </li>
        <div class="btn btn-primary">upload</div>
       </ul>
    </div>
</nav>

<div class="container text-center py-5">
    <h1 class="mb-4">Please verify your email...</h1>
    <img src="../../assets/email.png" alt="" srcset="" height="100px" width="100px" class="email-image mb-4">
    <p>Please verify your email address. We've sent a confirmation email to</p>
    <p class="email">{{userEmail}}</p>
</div>

<footer class="p-3">
   <div class="container d-flex">
    <div class="logo">
        <div class="footer-brand" href="#">dribble</div>
        <p>Dribble is the world's leading<br> community for creative to share, grow <br>and get hired </p>
        <div class="icons">
            <fa-icon [icon]="faBasketball"></fa-icon>
        </div>
    </div>
    <div class="designers">
        <ul>
            <li>Go Pro!</li>
            <li>Explore design work</li>
            <li>Design Blog</li>
            <li>Overtime Podcast</li>
            <li>Playoffs</li>
            <li>Weekly Warm-up</li>
            <li>Refer a friend</li>
            <li>Code of conduct</li>
        </ul>
    </div>
    <div class="hire">
        <ul>
            <li>Post a job opening</li>
        <li>Post a freelancer project</li>
        <li>Search for designers</li>
        <li>Brands</li>
        <li>Advertise with us</li>
        </ul>
    </div>
    <div class="company">
        <ul>
            <li>About</li>
            <li>Careers</li>
            <li>Support</li>
            <li>Media Kit</li>
            <li>Testimonials</li>
            <li>API</li>
            <li>Terms of Services</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            
        </ul>
    </div>
    <div class="directors">
        <ul>
            <li>Design jobs</li>
            <li>Designers for hire</li>
            <li>Freelancer designers for hire</li>
            <li>Tags</li>
            <li>Places</li>
            <li>Design assets</li>
            <li>Dribble Marketplace</li>
            <li>Creative Market</li>
            <li>Fontspring</li>
            <li>Font squirrel</li>
        </ul>
    </div>
    <div class="design">
        <ul>
            <li>Freelancing</li>
            <li>Design Hiring</li>
            <li>Design Portfolio</li>
            <li>Design Education</li>
            <li>Design Industry Trends</li>
        </ul>
    </div>

   </div>
</footer>
